<h1>the restaurant you chosen: </h1>

<%= @restaurant.name %>

<%= link_to "add a rating", new_restaurant_review_path(@restaurant)%>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %>
    <%= review.rating %>
    </li>
  <% end %>
</ul>
